<div class="form-group mx-auto mt-2">
  <div class="row mb-3 w-75">
    <div class="col nopadding">
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
  </div>
</div>
