<h1>Create a New List</h1>

<%= render partial: "application/error_messages", locals: { term: @list } %>

<%= form_for @list do |f| %>
    <%= render partial: "form", locals: { f: f } %>
    <p><%= f.submit "Create" %></p>
<% end %>