/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: "Montserrat-Thin";
    src: url("Montserrat-Thin.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("Montserrat-SemiBoldItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("Montserrat-SemiBold.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("Montserrat-MediumItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("Montserrat-Medium.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("Montserrat-LightItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("Montserrat-Light.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("Montserrat-Italic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("Montserrat-ExtraLightItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("Montserrat-ExtraLight.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url("Montserrat-ExtraBoldItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("Montserrat-ExtraBold.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("Montserrat-BoldItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("Montserrat-Bold.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("Montserrat-BlackItalic.ttf");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("Montserrat-Black.ttf");
    font-display: block;
}

/* GENERAL --------------------------------------------- */

* {
    font-family: "Montserrat-Regular"
}

.not_found_img {
    margin: 50px 0 30px 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.custom_link {
    color: #F4845F !important;
}

.custom_link:hover {
    color: #F7B267 !important;
}

.card-text {
    font-size: 14px;
}

.page_padding {
    margin-top: 100px;
}

.oops {
    font-size: 16px;
}

.error_messages {
    color: darkred;
    font-size: 14px;
}

.page_title {
    color: #F27059;
    font-family: "Montserrat-Bold";
}

.form_container {
    
}

/* HEADER & FOOTER --------------------------------------------- */

.navbar-custom {
    background-color: #fdf7f0;
}

.nav-link {
    color: #F27059 !important;
    font-family: "Montserrat-Medium";
}

.nav-link:hover {
    color: #F7B267 !important;
}

.no_picture_logo {
    font-family: "Montserrat-Bold";
}

.app_name {
    /* color: #6c757d; */
    color: black;
}

#signup_link {
    font-family: "Montserrat-Bold";
    background-color: #F25C54 !important;
    color: white !important;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 20px;
}

#login_link {
    color: #F25C54;
    padding-right: 25px;
    padding-left: 25px;
    border: 2px solid #F25C54;
    border-radius: 20px;
}

.logout_button {
    font-family: "Montserrat-Bold";
    color: #F25C54;
    background-color: transparent;
    border: none;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #fdf7f0;
    text-align: center;
}

#footer_name {
    font-family: "Montserrat-ExtraLight";
}

#copyright {
    font-size: smaller;
}

/* HOMEPAGE --------------------------------------------- */

.homepage_text {
    margin-left: 100px;
}

h1.homepage_text {
    font-family: "Montserrat-Bold";
    margin-top: 50px;
}

.card_group {
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
}

.card-link {
    font-family: "Montserrat-SemiBold";
    color: #F27059;
}

.homepage_img {
    float: right;
    line-height: 0;
    margin-right: 40px;
}

/* SIGNUP & LOGIN FORM --------------------------------------------- */

.signup_form_padding {
    padding-left: 250px;   
}

.login_form_padding {
    padding-top: 60px;
}

.alt_button {
    color: #F27059;
    font-family: "Montserrat-Medium";
}

.first_last_name {
    width: 50%;
}

#incorrect_credentials {
    font-family: "Montserrat-Light";
    font-size: 14px;
}

.btn-custom {
   background-color: #F25C54 !important;
   font-family: "Montserrat-SemiBold";
   color: white !important;
}

.btn-google {
    background-color: #4285F4 !important;
    color: white !important;
    /* font-family: "Montserrat-Light"; */
    font-size: smaller !important;
}

.btn-facebook {
    background-color: #4267B2 !important;

    color: white !important;
    /* font-family: "Montserrat-Light"; */
    font-size: smaller !important;
}

/* USER DASHBOARD (SHOW PAGE) --------------------------------------------- */

.username_font {
    font-family: "Montserrat-BoldItalic";
}

.someones_list {
    font-family: "Montserrat-LightItalic";
    font-size: 18px;
}

.profile_links {
    color: #F4845F !important;
}

.profile_links:hover {
    color: #F7B267 !important;
}

.joined_date {
    font-family: "Montserrat-Light";
    font-size: 18px;
}

#edit_profile_container {
    width: 500px;
}

/* REVIEWS --------------------------------------------- */

.review_container {
    max-width: 1000px !important;
}

.edit_button {
    color: #F25C54 !important;
    font-family: "Montserrat-Medium";
    font-size: 13px !important;
}

.delete_button {
    color: #F79D65 !important;
    font-size: 12px !important;
}

.movie_review_title {
    padding-left: 0 !important;
    font-size: 15px;
}

.star_row_padding {
    padding-left: 0 !important;    
}

.star_sizing {
    font-size: 14px;
    padding: 1px 6px 0 0;
}

.review_comment {
    font-size: 15px;
    padding-left: 0 !important;   
}

.user_link {

}

.user_link:hover {
    color: #F25C54 !important;
}