<% @reviews.each do |review| %>
  <div class="row mb-4">
    <div class="row">
      <div class="col movie_review_title">
        <%= link_to review.user.username, user_path(review.user), class: "custom_link" %><br>
      </div>
    </div>
    <%= render partial: "reviews/review_details", locals: {review: review} %>
    <% if review.user == current_user %>
      <%= render partial: "reviews/edit_delete", locals: {review: review} %>
    <% end %>
  </div>
<% end %>
