<p>pilim</p>
<p>&copy; Jenny Kim, 2021</p>
<a href="mailto: kimj1905@gmail.com" target="_blank">Contact</a>
<a href="https://github.com/kim-jenny5" target="_blank">Github</a>
<a href="https://kim-jenny5.medium.com" target="_blank">Blog</a>