<footer class="mt-auto">
    <p class="fs-4" id="footer_name">pilim</p>
    <p id="copyright">&copy; Jenny Kim, 2021</p>
    <small>
        <a href="mailto: kimj1905@gmail.com" target="_blank" class="mx-3 text-muted">Contact</a>
        <a href="https://github.com/kim-jenny5" target="_blank" class="mx-3 text-muted">Github</a>
        <a href="https://kim-jenny5.medium.com" target="_blank" class="mx-3 text-muted">Blog</a>
    </small>
</footer>
