<!-- <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <p>pilim</p>
            <p>&copy; Jenny Kim, 2021</p>
            <a href="mailto: kimj1905@gmail.com" target="_blank">Contact</a>
            <a href="https://github.com/kim-jenny5" target="_blank">Github</a>
            <a href="https://kim-jenny5.medium.com" target="_blank">Blog</a>
        </div>
    </nav>
</footer> -->

<footer>
    <p class="fs-4" id="footer_name">pilim</p>
    <p id="copyright">&copy; Jenny Kim, 2021</p>
    <div class="contact">
        <a href="mailto: kimj1905@gmail.com" target="_blank" class="mx-3">Contact</a>
        <a href="https://github.com/kim-jenny5" target="_blank" class="mx-3">Github</a>
        <a href="https://kim-jenny5.medium.com" target="_blank" class="mx-3">Blog</a>
    </div>
</footer>
