<a class="navbar-brand" href="<%= root_path %>">
    <img src="film.jpg" width="35" height="35" class="d-inline-block align-top" alt="">
    <span class="fs-3">pilim</span>
</a>

<a href="<%= login_path %>">Log In</a>
<a href="<%= signup_path %>">Sign Up</a>
