<a class="navbar-brand" href="<%= user_path(current_user) %>">
    <span class="fs-3 no_picture_logo app_name">pilim</span>
</a>
<div class="collapse navbar-collapse">
    <div class="navbar-nav">
        <a class="nav-link" href="<%= lists_path %>">All Lists</a>
        <a class="nav-link" href="<%= movies_path %>">All Movies</a>
    </div>
</div>
<div class="navbar-nav navbar-right">
    <%= button_to "Log Out", logout_path, {class: "logout_button"} %>
</div>
