<% if logged_in? %>
    <a href="<%= user_path(current_user) %>">pilim</a>
    <a href="<%= lists_path %>">All Lists</a>
    <a href="<%= movies_path %>">All Movies</a>
<% else %>
    <%= link_to "pilim", root_path %>
<% end %>
